apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: overseerr
  namespace: flux-system
spec:
  interval: 24h
  path: ./kubernetes/apps/overseerr
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system  
